{% extends 'base.html' %}
{% block content %}
<!-- Add Student page -->
<div class="space-y-6 px-2 py-2">
    <div class="bg-white dark:bg-slate-800 rounded-2xl shadow p-8">
        <h2
            class="text-xl md:text-2xl xl:text-3xl font-bold tracking-tight text-slate-900 dark:text-white transition-colors duration-300">
            Add Student
        </h2>
        <form method="post" id="studentForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="font-medium">Student Name</label>
                    {{ form.name }}
                </div>
                <div>
                    <label class="font-medium">Student-ID</label>
                    {{ form.student_id }}
                </div>
                <div>
                    <label class="font-medium">Email</label>
                    {{ form.email }}
                    <div class="text-red-500 danger" id="emailError"></div>
                </div>
                <div>
                    <label class="phone">Phone</label>
                    {{ form.phone }}
                    <div class="text-red-500 danger" id="phoneError"></div>
                </div>
                <div>
                    <label>Year</label>
                    {{ form.year }}
                </div>
                <div>
                    <label class="font-medium">Course</label>
                    {{ form.courses }}
                </div>
                <div>
                    <label class="font-medium">Date of Birth</label>
                    {{ form.date_of_birth }}
                </div>
                <div>
                    <label class="font-medium">Status</label>
                    {{ form.status }}
                </div>
                <div>
                    <label>Admission Date</label>
                    {{ form.admission_date }}
                </div>
                <div class="md:col-span-2">
                    <label class="font-medium">Address</label>
                    {{ form.address }}
                </div>
                <div class="md:col-span-2">
                    <label class="font-medium">Student Photo</label>
                    {{ form.photo }}
                </div>
            </div>

            <div class="mt-8 flex gap-4">
                <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white px-8 py-3 rounded-xl">Submit</button>
                <a href="{% url 'students' %}" class="bg-gray-300 hover:bg-gray-400 px-8 py-3 rounded-xl">
                    Cancel
                </a>
            </div>

        </form>
    </div>
</div>
{% endblock %}