{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="icon" type="image" href="{% static 'Images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'src/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="bg-slate-100 flex h-screen">
    <!-- site loader -->
    <div id="loader"
        class="fixed inset-0 z-50 flex items-center justify-center bg-slate-900 transition-opacity duration-500">
        <div class="relative">
            <div class="w-16 h-16 border-4 border-slate-700 rounded-full"></div>
            <div
                class="absolute top-0 w-16 h-16 border-4 border-t-sky-500 border-r-transparent border-b-sky-500 border-l-transparent rounded-full animate-spin">
            </div>
            <div class="absolute top-6 left-6 w-4 h-4 bg-sky-500 rounded-full animate-pulse"></div>
        </div>
    </div>

    {% load static %}

    <div class="flex h-screen bg-gray-100">

        <!-- Sidebar -->
        <aside id="sidebar"
            class="w-72 bg-slate-900 text-white transition-all duration-500 ease-in-out flex flex-col overflow-hidden">

            <!-- Logo -->
            <div id="brandName" class="flex items-center gap-2 px-3 py-6 border-b border-slate-700 whitespace-nowrap">
                <div class="text-indigo-500 text-3xl">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>

                <div class="sidebar-text flex flex-col transition-opacity duration-300">
                    <span class="text-white text-3xl font-bold tracking-tight">SMS</span>
                    <span class="text-slate-400 text-[12px] font-medium tracking-wider">
                        Student Management System
                    </span>
                </div>
            </div>

            <!-- Navigation -->
            <nav class="flex-1 px-4 py-6 space-y-2">

                <a href="{% url 'dashboard' %}"
                    class="nav-item flex items-center px-4 py-3 rounded-lg bg-indigo-600 hover:bg-indigo-700 hover:translate-x-1 hover:shadow-lg transition-all duration-300">
                    <i
                        class="fa-solid fa-gauge text-lg group-hover:rotate-12 transition-transform duration-300"></i><span
                        class="sidebar-text ml-3 font-medium whitespace-nowrap transition-all duration-500 ease-in-out">Dashboard</span>
                </a>

                <a href="#" class="nav-item flex items-center px-4 py-3 rounded-lg hover:bg-slate-800 transition">
                    <i class="fa-solid fa-user-graduate text-lg"></i><span
                        class="sidebar-text ml-3 font-medium whitespace-nowrap transition-all duration-500 ease-in-out">Students</span>
                </a>

                <a href="#" class="nav-item flex items-center px-4 py-3 rounded-lg hover:bg-slate-800 transition">
                    <i class="fa-solid fa-user-plus text-lg"></i><span
                        class="sidebar-text ml-3 font-medium whitespace-nowrap transition-all duration-500 ease-in-out">Add
                        Student</span>
                </a>

                <a href="#" class="nav-item flex items-center px-4 py-3 rounded-lg hover:bg-slate-800 transition">
                    <i class="fa-solid fa-magnifying-glass text-lg"></i>
                    <span
                        class="sidebar-text ml-3 font-medium whitespace-nowrap transition-all duration-500 ease-in-out">Search</span>
                </a>
                <a href="#" class="nav-item flex items-center px-4 py-3 rounded-lg hover:bg-slate-800 transition">
                    <i class="fa-solid fa-chart-line text-lg"></i>
                    <span
                        class="sidebar-text ml-3 font-medium whitespace-nowrap transition-all duration-500 ease-in-out">Reports</span>
                </a>
                <a href="#" class="nav-item flex items-center px-4 py-3 rounded-lg hover:bg-slate-800 transition">
                    <i class="fa-solid fa-gear text-lg"></i>
                    <span
                        class="sidebar-text ml-3 font-medium whitespace-nowrap transition-all duration-500 ease-in-out">Settings</span>
                </a>
            </nav>

            <!-- Logout -->
            <div class="p-4 border-t border-slate-700">
                <a href="#"
                    class="nav-item flex items-center justify-center px-4 py-3 rounded-lg bg-red-600 hover:bg-red-700 transition">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span
                        class="sidebar-text ml-3 font-medium whitespace-nowrap transition-all duration-500 ease-in-out">Logout</span>
                </a>
            </div>
        </aside>

        <!-- Main Content -->
        <header class="bg-white h-20 px-8 border-b border-slate-200 flex items-center justify-between">
            <div class="flex items-center gap-6">

                <!-- sidebar btn toogle -->
                <button id="toggleBtn"
                    class="w-11 h-11 rounded-xl hover:bg-slate-100 transition flex items-center justify-center">
                    <i class="fa-solid fa-bars text-xl text-slate-700"></i>
                </button>

                <div class="relative hidden md:block mr-6">
                    <input type="text" placeholder="Search student..."
                        class="w-96 h-12 pl-5 pr-12 rounded-xl border border-slate-200 bg-slate-50 focus:bg-white focus:border-indigo-500 focus:ring-4 focus:ring-indigo-100 outline-none transition">

                    <button class="absolute right-4 top-1/2 -translate-y-1/2 text-slate-400 hover:text-indigo-600">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>

            <div class="flex items-center gap-4">
                <button
                    class="relative w-11 h-11 rounded-xl hover:bg-slate-100 transition flex items-center justify-center">

                    <i class="fa-regular fa-bell text-xl text-slate-700"></i>

                    <span class="absolute top-2 right-2 w-2.5 h-2.5 rounded-full bg-red-500"></span>

                    <span class="absolute top-2 right-2 w-2.5 h-2.5 rounded-full bg-red-500 animate-ping"></span>

                </button>

                <!-- Theme toggle -->
                <button
                    class="myToggleBtn w-11 h-11 rounded-xl hover:bg-slate-100 transition flex items-center justify-center">
                    <i class="fa-solid fa-moon theme_icon text-slate-700 text-lg"></i>
                </button>

                <!-- Profile -->
                <button class="flex items-center gap-3 rounded-xl px-3 py-2 hover:bg-slate-100 transition">

                    <!-- User Icon -->
                    <div
                        class="w-12 h-12 rounded-full bg-gradient-to-r from-indigo-500 to-purple-600 flex items-center justify-center shadow-md">
                        <i class="fa-solid fa-user text-white text-lg"></i>
                    </div>

                    <!-- User Info -->
                    <div class="hidden lg:block text-left">
                        <h4 class="font-semibold text-slate-800 leading-none">
                            Admin User
                        </h4>

                        <p class="text-sm text-slate-500 mt-1">
                            Administrator
                        </p>
                    </div>

                    <!-- Dropdown -->
                    <i class="fa-solid fa-chevron-down text-xs text-slate-500"></i>

                </button>
            </div>
        </header>

    </div>

    <script src="{% static 'JS/script.js' %}"></script>

    <script>
        // sidebar btn slider
        const sidebar = document.getElementById("sidebar")
        const toggleBtn = document.getElementById("toggleBtn")
        const sidebarTexts = document.querySelectorAll(".sidebar-text")

        toggleBtn.addEventListener('click', () => {
            sidebar.classList.toggle("w-68")
            sidebar.classList.toggle("w-20")

            sidebarTexts.forEach(text => {
                text.classList.toggle("opacity-0")
                text.classList.toggle("hidden")
            })
        })
    </script>
</body>

</html>