{% extends 'base.html' %}
{% block content %}
<!-- Student-page -->
<div class="space-y-6 px-2 py-2">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
        <div>
            <h2
                class="text-xl md:text-2xl xl:text-3xl font-bold tracking-tight text-slate-900 dark:text-white transition-colors duration-300">
                Students</h2>
            <p class="mt-1 text-slate-500 dark:text-slate-400 text-sm font-medium transition-colors duration-300">Manage
                all enrolled students</p>
        </div>

        <a href="{% url 'add_student' %}"
            class="inline-flex items-center gap-2 bg-indigo-600 hover:bg-indigo-700 text-white px-5 py-3 rounded-xl shadow transition">
            <i class="fa-solid fa-plus"></i>
            Add Student
        </a>
    </div>

    <div class="bg-white dark:bg-slate-800 rounded-2xl border border-slate-200 dark:border-slate-700 p-5 shadow-sm">
        {% csrf_token %}
        <form method="GET" class="grid grid-cols-1 md:grid-cols-4 gap-4">

            <!-- Search -->
            <div class="relative md:col-span-2">

                <i class="fa-solid fa-magnifying-glass absolute left-4 top-1/2 -translate-y-1/2 text-slate-400"></i>

                <input type="text" name="search" value="{{ request.GET.search }}" placeholder="Search student..."
                    class="w-full pl-11 pr-4 py-3 rounded-xl border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-700 dark:text-white focus:ring-2 focus:ring-indigo-500 outline-none">

            </div>

            <!-- Course -->
            <select name="course"
                class="px-4 py-3 rounded-xl border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-700 dark:text-white outline-none">

                <option value="">All Courses</option>
                <option value="BCA">BCA</option>
                <option value="B.Tech">B.Tech</option>
                <option value="MCA">MCA</option>
                <option value="BBA">BBA</option>

            </select>

            <!-- Status -->
            <select name="status"
                class="px-4 py-3 rounded-xl border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-700 dark:text-white outline-none">

                <option value="">All Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>

            </select>

            <!-- Optional Button -->
            <button type="submit"
                class="md:col-span-4 bg-indigo-600 hover:bg-indigo-700 text-white py-3 rounded-xl font-medium transition">

                Search

            </button>

        </form>

    </div>

    <!-- Students Table -->
    <div
        class="bg-white dark:bg-slate-800 rounded-2xl border border-slate-200 dark:border-slate-700 shadow-sm overflow-x-auto">
        <table class="w-full">
            <thead class="bg-slate-100 dark:bg-slate-700 text-slate-700 dark:text-slate-200">
                <tr>
                    <th class="px-6 py-4 text-left">Photo</th>
                    <th class="px-6 py-4 text-left">Name</th>
                    <th class="px-6 py-4 text-left">ID</th>
                    <th class="px-6 py-4 text-left">Course</th>
                    <th class="px-6 py-4 text-left">Phone</th>
                    <th class="px-6 py-4 text-left">Year</th>
                    <th class="px-6 py-4 text-left">Status</th>
                    <th class="px-6 py-4 text-center">Action</th>
                </tr>
            </thead>

            <tbody class="divide-y divide-slate-200 dark:divide-slate-700">
                {% for student in students %}
                <tr class="hover:bg-slate-50 dark:hover:bg-slate-700 transition">
                    <td class="px-6 py-4">
                        {% if student.photo %}
                        <img src="{{ student.photo.url }}" alt="{{ student.name }}"
                            class="w-11 h-11 rounded-full object-cover">
                        {% else %}
                        <div class="w-11 h-11 rounded-full bg-slate-200 flex items-center justify-center">
                            <i class="fa-solid fa-user text-slate-500"></i>
                        </div>
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 font-medium text-slate-900 dark:text-white">{{ student.name }}</td>
                    <td class="px-6 py-4">{{ student.student_id }}</td>
                    <td class="px-6 py-4">{{ student.courses }}</td>
                    <td class="px-6 py-4">{{ student.phone }}</td>
                    <td class="px-6 py-4">{{ student.year }}</td>
                    <td class="px-6 py-4">
                        <span class="px-3 py-1 rounded-full text-sm font-medium
                        {% if student.status == 'Active' %}
                        bg-green-100 text-green-600
                        {% else %}
                        bg-red-100 text-red-600
                        {% endif %}">{{ student.status }}</span>
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex justify-center gap-2">
                            <a href="{% url 'view_student' student.id %}"
                                class="w-9 h-9 rounded-lg bg-blue-100 text-blue-600 flex items-center justify-center hover:bg-blue-200">
                                <i class="fa-solid fa-eye"></i>
                            </a>

                            <a href="{% url 'edit_student' student.id %}"
                                class="w-9 h-9 rounded-lg bg-green-100 text-green-600 flex items-center justify-center hover:bg-green-200">
                                <i class="fa-solid fa-pen"></i>
                            </a>

                            <button onclick="openDeleteModal('{{ student.id }}', '{{ student.name }}')"
                                class="w-9 h-9 rounded-lg bg-red-100 text-red-600 flex items-center justify-center hover:bg-red-200 transition">

                                <i class="fa-solid fa-trash"></i>

                            </button>
                        </div>
                    </td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="8" class="py-6 text-center text-slate-500">No students found!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Delete student pop -->
<div id="deleteModel" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/50 backdrop-blur-sm">

    <div class="bg-white dark:bg-slate-800 rounded-2xl shadow-2xl w-[90%] max-w-md p-8 animate-[fadeIn_.2s_ease]">

        <!-- Icon -->
        <div class="flex justify-center">
            <div class="w-20 h-20 rounded-full bg-red-100 flex items-center justify-center">
                <i class="fa-solid fa-trash text-red-600 text-4xl"></i>
            </div>
        </div>

        <!-- Heading -->
        <h2 class="text-2xl font-bold text-center mt-6 text-slate-800 dark:text-white">
            Delete Student
        </h2>

        <!-- Message -->
        <p class="text-center text-slate-500 dark:text-slate-400 mt-4">⚠️ Are you sure you want to delete
            <span id="studentName" class="font-semibold text-red-600"></span>?
        </p>

        <p class="text-center mt-2 text-sm text-slate-400">This action cannot be undone.</p>

        <!-- Buttons -->
        <div class="flex justify-center gap-4 mt-8">
            <button type="button" onclick="closeDeleteModal()"
                class="px-6 py-3 rounded-xl bg-slate-200 dark:bg-slate-700 hover:bg-slate-300 dark:hover:bg-slate-600 transition">Cancel</button>

            <form id="deleteForm" method="post">
                {% csrf_token %}

                <button type="submit"
                    class="px-6 py-3 rounded-xl bg-red-600 hover:bg-red-700 text-white transition">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}