@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}


main{
    width: 100%;
}

.sidebar-text{
    transition: all .45s ease;
    white-space: nowrap;
}

.nav-item{
    transition: all .45s ease;
}

#sidebar{
    transition: width .45s ease;
}


