@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    transition:
        background-color 0.4s ease,
        color 0.4s ease,
        border-color 0.4s ease,
        box-shadow 0.4s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background: #f8fafc;
    color: #0f172a;
}

.dark body {
    background: #0f172a;
    color: white;
}

main {
    width: 100%;
}

.dark main {
    background: #0f172a;
}

.dark .card {
    background: #1e293b;
}

.dark .sidebar {
    background: #0f172a;
}

.dark .header {
    background: #111827;
}

.sidebar-text {
    transition: all .45s ease;
    white-space: nowrap;
}

.nav-item {
    transition: all .45s ease;
}

#sidebar {
    transition: width .45s ease;
}